venv/
__pycache__/
*.pyc

.env
ana.db

latest_audio.txt
latest_video.txt

temp_url.txt
temp_language.txt
temp_personality.txt

.streamlit/

data/articles/*.txt
data/scripts/*.txt

audio/*.mp3

video/history/*.mp4
video/output.mp4

latest_audio.txt
latest_video.txt